<div class= 'title'>
<h1> Welcome to Movie List! </h1>
</div>



<% @movies.each do |movie| %>
  <div>
    <h1><%= movie.name %></h1><br />
    <i><%= movie.year %></i><br />
    <p><%= movie.description %></p><br />
  </div>

  <hr />
<% end %>

<%= new_page_path  'Click here to add your favorite!' %>
